.picture {
  float: right;
  height: 500px;
  width: 400px;
  background-position: center top;
  background-size: cover;
  margin: 20px;
  border-radius: 1%;
  position: absolute;
  opacity: 1;
  transition: opacity 2s ease-in-out; }
  .picture.hidden {
    opacity: 0; }
  @media (max-width: 1000px) {
    .picture {
      height: 350px;
      width: auto;
      max-width: 300px; } }
  @media (max-width: 650px) {
    .picture {
      margin: 20px 0;
      max-width: none; } }

.slideshow {
  height: 500px; }
  @media (max-width: 1000px) {
    .slideshow {
      height: 400px; } }
  @media (max-width: 650px) {
    .slideshow {
      height: 380px; } }
