.picture {
  height: 500px;
  width: 400px;
  margin: 20px;
  border-radius: 1%;
  position: absolute;
  opacity: 1;

  &.hidden {
    opacity: 0;
  }

  @media (max-width: 1000px) {
    height: auto;
    width: 250px;
    max-width: 300px;
  }

  @media (max-width: 1000px) {
    height: auto;
    width: 250px;
    max-width: 300px;
  }

  @media (max-width: 650px) {
    margin: 20px 0;
  }

    transition: opacity 2s ease-in-out;
}

.slideshow {
  height: 540px;

  @media (max-width: 1000px) {
    height: 350px;
  }

  @media (max-width: 650px) {
    height: 350px;
  }
}