.card {
    margin-top: 20px;
    border-left: 5px solid #8fa1b3;
    padding-left: 10px;
    max-width: 700px;
    
    a {
        transition: all 0.2s ease-in-out;    
        color: #8fa1b3;
        
        &:hover {
            color: #a3be8c;
        }
    }
}